<!doctype html>
<html lang="en">
<head>

    <script type="text/javascript" src="/static/js/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="/static/js/simulator.js"></script>
    <style>
        * {
            font-family: sans-serif;
        }

        main {
            text-align: center;
            margin: 0 auto;
        }

        form {
            margin: 0 auto;
            width: 200px;
        }
    </style>
    <title>Office Simulator</title>
</head>
<body>
<main>
    <h1>Office Simulator</h1>
    <br/>
    <canvas id="canvas" width="1200" height="600">
    </canvas>
    <br/><br/>
    <form>
        <table>
            <tr>
                <td>Users</td>
                <td><input type="radio" name="user_action" value="add" checked id="user_add_action"/><label
                        for="user_add_action"> Add</label></td>
                <td><input type="radio" name="user_action" value="remove" id="user_remove_action"/><label
                        for="user_remove_action"> Remove</label></td>
            </tr>
        </table>
    </form>
</main>
<script>
    $(function () {
        setInterval(async_animation, 1000);
        $("#canvas").click(function (e) {
            var elm = $(this);
            var x = e.pageX - elm.offset().left;
            var y = e.pageY - elm.offset().top;
            update_user(x, y);
        });
    });
</script>
</body>
</html>
